<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="../../index.html">Gestión de Pedidos</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#menuNavegacion"
          aria-controls="menuNavegacion"
          aria-expanded="false"
          aria-label="Alternar navegación"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="menuNavegacion">
          <ul class="navbar-nav me-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="menuPedidos"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Pedidos
              </a>
              <ul class="dropdown-menu" aria-labelledby="menuPedidos">
                <li>
                  <a class="dropdown-item" href="pedidos.html">Consultar</a>
                </li>
                <li>
                  <a class="dropdown-item" href="crear_pedido.html">Crear</a>
                </li>
                <li>
                  <a class="dropdown-item" href="editar_pedido.html">Editar</a>
                </li>
                <li>
                  <a class="dropdown-item" href="eliminar_pedido.html"
                    >Eliminar</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="menuProductos"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Productos
              </a>
              <ul class="dropdown-menu" aria-labelledby="menuProductos">
                <li>
                  <a class="dropdown-item" href="productos.html">Consultar</a>
                </li>
                <li>
                  <a class="dropdown-item" href="crear_producto.html">Crear</a>
                </li>
                <li>
                  <a class="dropdown-item" href="editar_producto.html"
                    >Editar</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="eliminar_producto.html"
                    >Eliminar</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="menuClientes"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Clientes
              </a>
              <ul class="dropdown-menu" aria-labelledby="menuClientes">
                <li>
                  <a class="dropdown-item" href="clientes.html">Consultar</a>
                </li>
                <li>
                  <a class="dropdown-item" href="registrarse.html">Crear</a>
                </li>
                <li>
                  <a class="dropdown-item" href="editar_cliente.html">Editar</a>
                </li>
                <li>
                  <a class="dropdown-item" href="eliminar_cliente.html"
                    >Eliminar</a
                  >
                </li>
              </ul>
            </li>
          </ul>

          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="iniciar_sesion.html">Iniciar Sesión</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
